body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#editor {
  height: 80vh;
}

#preview {
  margin-top: 0;
  margin-bottom: 6px;
  height: 80vh;
  overflow-y: scroll;
}

.btn {
  position: absolute !important;
  bottom: 0;
  right: 0;
}