@import "https://rotyflo.github.io/css/theme.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-top: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#editor {
  height: 70vh;
  border: 2px solid var(--font-color);
}

#preview {
  margin-top: 3.5rem;
  border: 2px solid var(--font-color);
}

header {
  padding: 0;
  margin: 0;
}

#title {
  display: inline;
  position: absolute;
  top: 1.5rem;
}

.buttons {
  display: inline;
}

.buttons > .btn {
  float: right;
  border: 2px solid var(--error-color);
  color: var(--error-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
}


/* Fixes for terminal theme */

code {
  display: inline !important;
}

pre > code {
  --code-bg-color: none !important;
}

pre > * {
  margin: 0 !important;
}

ul, ol {
  white-space: normal;
}